@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Open+Sans:wght@700&family=Signika:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Fonts */
  --main-font: 'Lato', sans-serif;
  --title-font: 'Signika', sans-serif;
  /* Шрифт для футерв Follow Us */
  --footer-title: 'Open Sans', sans-serif;

  /* Colors */
  --main-color-text: rgb(58, 60, 67);
  --accent-color-text: rgb(68, 183, 73);
  --border-color-form: rgb(247, 247, 244);
  --background-color-feeding-over: rgb(247, 247, 244);
  --simple-color-text: rgb(255, 255, 255);
  --form-background-color: rgba(58, 60, 67, 0.6);
  --form-framing-background-color: rgba(255, 255, 255, 0.24);
  --form-button-background-color: rgb(146, 206, 43);
  --modal-background-color: rgb(170, 170, 170);
  --modal-close-btn-hover: rgb(242, 244, 247);

  /* General styles */
  font-family: var(--main-font);
  font-size: 17px;
  font-weight: 400;
  color: var(--main-color-text);

  /*Footer styles 400*/
  font-family: var(--footer-title);
  font-size: 17px;
  font-weight: 400;
  color: var(--main-color-title);

  /* General styles */
  font-family: var(--main-font);
  font-size: 17px;
  font-weight: 400;
  color: var(--main-color-text);
}

/* img {
  display: block;
  width: 100%;
} */
