.footer_menu {
  margin: auto;
  min-width: 320px;
  padding-top: 80px;
  position: relative;
  width: 70%;
  line-height: 1.8;
  margin-left: auto;
  margin-right: auto;
}

.footer-foto {
  width: 207px;
  height: auto;
}

.copiright {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 50px;
  position: relative;
  min-width: 320px;
  margin: auto;
  font-size: 14px;
  line-height: 3;
  font-family: Lato, sans-serif;
  font-weight: 400;
  
}

.footer-nav-menu {
  display: grid;
  grid-template-rows: 20fr -30px 20fr 20fr 20fr 20fr;
  grid-row-gap: 30px;
  font-family: "Lato", sans-serif;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  background-attachment: fixed;
}

.footer-how,
.footer-speci,
.footer-service,
.logo-footer,
.footer_follow_us,
.follow-us-p {
  justify-self: center;
  align-items: center;
  text-align: center;
}

.logo-footer {
  font-size: 14px;
  line-height: 1.6;
  font-family: Lato, sans-serif;
  font-weight: 400;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  color: #3a3c43;
}

.footer_social_item {
  margin: 2px;
  width: 40px;
  border-style: none;
}

footer li {
  font-family: "Lato", sans-serif;
  font-size: 17px;
  color: rgb(58, 60, 67);
  display: flex;
  justify-content: center;
 
}

.follow-us-p {
  font-size: 20px;
  line-height: 1.4;
  font-family: Open Sans, sans-serif;
  font-weight: 400;
 
  color: #3a3c43;
}

.footer_social_list {
  display: flex;
}

.footer-svg {
  background-color: #25d366;
  fill: rgb(255, 255, 255);
  stroke: #44b749;
  stroke-width: 0.3px;
  border-style: none;
}

.footer-svg:hover {
  background-color: rgb(255, 255, 255);
  fill: #44b749;
  border-color: rgb(24, 8, 61);
  border-style: none;
  transition-duration: 250ms;
}

footer a {
  color: black;
  border-style: none;
  padding: 5px 0;
  position: relative;
  text-decoration: none;
}

footer a:before {
  content: "";
  background: #44b749;
  border-style: none;
}

footer a:hover {
  color: #44b749;
  border-style: none;
}

#footer-a:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 0;
  height: 1.5px;
  background-color: #44b749;
  border-style: none;
}

#footer-a:hover:before {
  width: 100%;
}

#footer-a::before {
  transition: width 0.35s;
}

footer a {
  color: black;
  padding: 5px 0;
  position: relative;
  text-decoration: none;
}

footer a:before {
  content: "";
  background: #44b749;
}

footer a:hover {
  color: #44b749;
}

@media (min-width: 768px) {
  .follow-us-p {
    font-size: 21px;
  }
  .footer-nav-menu {
    display: grid;
    grid-template-columns: 20fr 15fr 20fr 20fr 20fr 20fr;
    grid-gap: 10px;
    position: relative;
    width: 100%;
  }
  .footer_menu {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  .footer-foto {
    width: 100%;
  }
  .footer-how,
  .footer-speci,
  .footer-service {
    justify-self: center;
  }
  .copiright {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
  }
  .footer_social_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (min-width: 992px) {
  .follow-us-p {
    font-size: 23px;
  }
  footer li {
    font-size: 16px;
  }
  .copiright {
    font-size: 15px;
  }
  .logo-footer {
    font-size: 14px;
  }
  .follow-us-p {
    text-align: end;
  }
  .footer_menu {
    max-width: 90%;
  }

}