.footer_menu {
  margin: auto;
  min-width: 320px;
  padding-top: 50px;
  position: relative;
  width: 70%;
}

.footer-foto {
  width: 170px;
  height: auto;
  margin-bottom: 10px;
}

.copiright {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 50px;
  position: relative;
  min-width: 320px;
  margin: auto;
  font-size: 15px;
  line-height: 1.6;
  font-family: Lato, sans-serif;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  letter-spacing: 0;
  color: brandColor;
  text-transform: none;
}
.footer-nav-menu {
  /*display : flex;
    align-items: center;
   justify-content: space-evenly; */
  display: grid;
  grid-template-columns: 20fr 20fr 20fr 20fr 20fr;
  font-family: "Lato", sans-serif;
  align-items: center;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  background-attachment: fixed;
}

.footer-how,
.footer-speci,
.footer-service {
  justify-self: center;
}

.logo-footer {
  justify-self: start;
  width: 180px;
  height: auto;
  font-size: 15px;
  line-height: 1.6;
  font-family: Lato, sans-serif;
  font-weight: 400;
  font-weight: bold;
}

.footer_follow_us {
  justify-self: end;
  text-align: end;
}

.footer_social_item {
  margin: 2px;
  text-align: end;
  width: 40px;
  border-style: none;
}

footer li {
  /*list-style: none;*/
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: rgb(58, 60, 67);
  display: flex;
  text-align: center;
}

.footer_social_list {
  display: flex;
}

.follow-us-p {
  font-size: 23px;
  line-height: 1.4;
  font-family: Open Sans, sans-serif;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  letter-spacing: 0;
  color: #3a3c43;
  text-transform: none;
  padding-bottom: 30px;
}

.footer-svg {
  background-color: #25d366;
  fill: rgb(255, 255, 255);
  stroke: #44b749;
  stroke-width: 0.3px;
  border-style: none;
}

.footer-svg:hover {
  background-color: rgb(255, 255, 255);
  fill: #44b749;
  border-color: rgb(24, 8, 61);
  border-style: none;
  transition-duration: 250ms;
}

footer a {
  color: black;
  border-style: none;
  padding: 5px 0;
  position: relative;
  text-decoration: none;
}

footer a:before {
  content: "";
  background: #44b749;
  border-style: none;
}

footer a:hover {
  color: #44b749;
  border-style: none;
}

#footer-a:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 0;
  height: 1.5px;
  background-color: #44b749;
  border-style: none;
}

#footer-a:hover:before {
  width: 100%;
}

#footer-a::before {
  transition: width 0.35s;
}

footer a {
  color: black;
  padding: 5px 0;
  position: relative;
  text-decoration: none;
}

footer a:before {
  content: "";
  background: #44b749;
}

footer a:hover {
  color: #44b749;
}