.image-food {
    width: 400px;
    margin-right: 70px;
}

.text-heading__container {
    line-height: 1;
}

.family-like__container {
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 100px 0px 30px ;
}

.food-info__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 100px;
    font-weight: 400;
    line-break: normal;
}

@media (max-width: 768px) {

.food-info__container {
    flex-direction: column;
}

}


.food-image-icon {
    background-color: var(--form-button-background-color);
    color: var(--simple-color-text);
    border-radius: 100%;
    padding: 20px;
    width: 100px;
}

.text-heading {
    font-size: 29px;
    font-family: var( --title-font);
    color: var(--accent-color-text);
}




