.paragraph__green_text {
    color: #44b749!important;
}
.plate__text{
    height:60px;
}
.reload__picture{
    height:60px;
}
.teapicture{
    height:60px;
}
.menu__picture{
    height:60px;
}
.text__h2{
    color: #3a3c43;
}
.froots_info__picture{
    font-size: 17px;
}