@import url("https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap");

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 15px;
}

header ul {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: rgb(58, 60, 67);
  display: flex;
}

header li {
  margin-left: 15px;
  padding-left: 15px;
}

header a {
  background-image: linear-gradient(
    to right,
    rgb(146, 206, 43),
    rgb(146, 206, 43) 50%,
    #000 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

header a:before {
  content: "";
  background: rgb(110, 172, 2);
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

header a:hover {
  background-position: 0;
}

header a:hover::before {
  width: 100%;
}

.nav__page-logo {
  padding: 10px;
}

.nav__menu-list {
  list-style: "|";
  margin: 0;
  padding: 0;
}

#first-list-item {
  list-style: none;
}

.header__main {
  height: 800px;
  background-image: url(/img/background-img.jpg);
  background-position: center;
  background-size: cover;
}

.header__main-content {
  font-family: "Signika", sans-serif;
  font-weight: 700;
  font-size: 80px;
  width: 800px;
  margin: 0 150px;
  padding: 220px 15px;
  text-align: left;
}

.header-title {
  margin: 0;
}

#scroll {
  background-color: rgb(146, 206, 43);
  border-width: 2px;
  border-radius: 32px;
  font-size: 18px;
  padding: 18px 35px;
}
