.header__main {
    background-image: url(/img/background-img.webp);
    background-size: cover;
    background-position: center;
    width: 100%;
    /* max-width: 1200px; */
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 0;
    border-radius: inherit;
    padding: 220px 0;
  }
  
  .header__main-content {
    font-family: "Signika", sans-serif;
    font-weight: 700;
    font-size: 80px;
    color: #3a3c43;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  @media (max-width: 950px) {
    .header__main {
      font-size: 70px;
      padding: 110px 0;
    }
  }
  
  @media (max-width: 600px) {
    .header__main-content {
      font-size: 60px;
      padding: 0 24px;
    }
  }
  
  .header__flex-container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 24px 0 0;
    margin: auto;
    padding: 0;
    display: block;
    text-align: left;
  }
  
  .header-title {
    width: 700px;
    margin: 0;
    word-wrap: break-word;
  }
  
  @media (max-width: 950px) {
    .header-title {
      width: 100%;
      margin: 0;
    }
  }
  
  #scroll {
    text-decoration: none;
    color: white;
    background-color: rgb(146, 206, 43);
    border-width: 2px;
    border-radius: 32px;
    font-size: 18px;
    padding: 18px 35px;
  }
  
  #scroll:hover {
    animation-name: background-color;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
  }
  @keyframes background-color {
    100% {
      background-color: rgb(40, 190, 47);
    }
  }