.main__subscribe {
  background: url('../img/subscribe_section/subscribe_background_image.png');
  box-shadow: 0 0 0 50000px rgba(0, 0, 0, 0.33) inset;
  /* background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url('../img/subscribe_section/subscribe_background_image.png'); */
  background-position: center 50%;
  box-sizing: border-box;
  font-family: var(--main-font);
  font-size: 17px;
  font-weight: 400;
  line-height: 28.9px;
  overflow-wrap: break-word;
  margin: auto;
  padding-top: 110px;
  padding-bottom: 110px;
  overflow-wrap: break-word;
  position: relative;
  vertical-align: baseline;
  background-attachment: fixed;
  overflow: hidden;
  min-width: 320px;
}

.subscribe__inner {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
  line-height: 28.9px;
  overflow-wrap: break-word;
  vertical-align: baseline;
  justify-content: center;
  /* display: block; */
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .subscribe__inner {
    padding-right: 32px;
    padding-left: 32px;
  }
}

@media (min-width: 1024px) {
  .subscribe__inner {
    padding-right: 40px;
    padding-left: 40px;
  }
}

.subscribe__text_field {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  display: block;
  font-family: inherit;
  width: calc(100% + 30px);
  margin-left: -15px;
  margin-right: -15px;
}

.text__field__subscribe_text {
  position: relative;
  justify-content: center;
  vertical-align: baseline;
}

.subscribe_text__h2 {
  color: var(--simple-color-text);
  justify-content: flex-start;
  font-size: 40px;
  font-family: var(--title-font);
  font-weight: 700;
  text-align: center;
  line-height: 48px;
  padding-bottom: 20px;
  vertical-align: baseline;
  box-sizing: border-box;
  text-align: center;
}

@media (min-width: 768px) {
  .subscribe_text__h2 {
    font-size: 50px;
  }
}

.subscribe_text__hr,
.upper_part__hr {
  color: var(--simple-color-text);
  opacity: 0.2;
  left: 50%;
  width: 60px;
  height: 1px;
  margin: auto;
}

.subscribe__form_div {
  margin: auto;
  margin-top: 50px;
  background: var(--form-background-color);
  font-weight: 400;
  font-size: 17px;
  font-family: var(--main-font);
  display: flex;
  color: var(--simple-color-text);
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 491px;
}

.form_div__inner {
  padding: 31px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 490px;
}

.form__framing {
  margin-bottom: 0;
  text-align: left;
  display: block;
  box-sizing: border-box;
  border-color: var(--border-color-form);
  background-color: var(--form-framing-background-color);
  /* padding: 15px 30px; */
  font-size: 16px;
  border-radius: 27px;
  color: inherit;
  line-height: 1.38;
}

.form__input {
  border-color: var(--border-color-form);
  background-color: var(--form-framing-background-color);
  color: var(--simple-color-text);
  line-height: 1.38;
  display: block;
  width: 100%;
  margin-top: 12px;
  appearance: none;
  background: none;
  box-shadow: none;
  text-overflow: ellipsis;
  border: none;
  padding: 15px 30px;
  font-size: 16px;
  border-radius: 27px;
  color: inherit;
  line-height: 1.38;
  writing-mode: horizontal-tb;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;
  cursor: text;
  margin: 0em;
  word-wrap: break-word;
}

.form__input:focus {
  outline: auto;
  outline-color: #3b99fc;
}

.framing__text {
  display: none;
  border: 0;
  box-shadow: none;
  box-sizing: border-box;
  padding: 1px 2px;
  writing-mode: horizontal-tb;
  text-rendering: auto;
  color: fieldtext;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  cursor: text;
  background-color: field;
  margin: 0em;
}

.form__button {
  margin-top: 24px;
  width: 100%;
  display: inline-block;
  position: relative;
  max-width: 100%;
  text-decoration: none;
  text-align: center;
  background-position: 50%;
  overflow: visible;
  cursor: pointer;
  transition: color 0.2s ease-in, background-color 0.2s ease-in,
    border-color 0.2s ease-in, box-shadow 0.2s ease-in,
    -webkit-box-shadow 0.2s ease-in;
  word-wrap: break-word;
  padding: 15px 30px;
  border-radius: 27px;
  font-size: 16px;
  line-height: 1.38em;
  letter-spacing: 0;
  font-weight: 700;
  color: var(--simple-color-text);
  box-shadow: 0 0 0 0 transparent;
  background-color: var(--form-button-background-color);
  background-image: linear-gradient(0deg, transparent, transparent);
  font-family: var(--main-font);
  font-style: normal;
  text-transform: none;
  border: 0;
  box-sizing: border-box;
  appearance: auto;
  writing-mode: horizontal-tb;
  text-rendering: auto;
  text-indent: 0px;
  text-shadow: none;
  align-items: flex-start;
}

.form__button:hover {
  color: black;
  background-color: #fff;
}

.button__subscribe_border:hover {
  background-color: var(--simple-color-text);
  color: black;
  background-image: linear-gradient(0deg, transparent, transparent);
}

/* Modal subscribe */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: 2;
  background: rgba(0, 0, 0, 0.2);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 300ms,
    visibility 300ms;
  /* overflow-y: scroll; */
}

.modal-form {
  min-width: 320px;
  width: 320px;
  position: relative;
  transform: translate(-50%, -50%);
  height: 305px;
  top: 50%;
  left: 50%;
  background-color: #3a3c43;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.overflow {
  overflow: hidden;
}

.article-form {
  display: flex;
  justify-content: center;
}

.subscribe__modals.active {
  transform: translate(-50%, -50%) scale(1);
}

.modals__subscribe_message {
  text-align: center;
  display: block;
}

.subscribe_message_close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 16px;
  right: 24px;
  padding: 4px;
  opacity: 0.8;
  transition: opacity 0.2s ease-out;
  color: var(--modal-background-color);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.subscribe_message_close-button:hover,
.subscribe_message_close-button:focus {
  color: var(--modal-close-btn-hover);
  text-decoration: none;
  cursor: pointer;
}

.subscribe_message__message_content {
  display: block;
  justify-content: center;
  align-self: center;
}

.message_content__status_ico {
  display: flex;
  width: 34px;
  height: 34px;
  justify-content: center;
  align-self: center;
  align-items: center;
  margin: 0 auto 33px;
  fill: var(--form-button-background-color);
}

.message_contant__title_text {
  position: relative;
  padding: 0;
  z-index: 0;
  margin: 0 0 8px;
  font-weight: 700;
  color: var(--accent-color-text);
  font-family: var(--title-font);
  line-height: 28.9px;
  text-align: center;
}

.title_text__span {
  display: block;
}

.message_contant__text {
  position: relative;
  padding: 0;
  z-index: 0;
  margin: 0 0 42px;
  font-family: var(--main-font);
  font-size: 17px;
  font-weight: 400;
  color: var(--accent-color-text);
  line-height: 28.9px;
}

.text__span {
}

.message_contant__ok_btn {
  width: 210px;
  position: relative;
  margin: 0 auto;
  padding: 0;
  border: 0;
  overflow: hidden;
  box-shadow: 0;
  line-height: 36px;
  font-family: var(--title-font);
  font-weight: 400px;
  font-size: 12px;
  z-index: 1;
  text-transform: uppercase;
  border-radius: 27px;
  text-align: center;
  color: var(--simple-color-text);
  background-color: var(--form-button-background-color);
  text-align: center;
}

.ok_btn__border {
}

.border__btn_text-content {
}

#subscribe__overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#subscribe__overlay.active {
  opacity: 1;
  pointer-events: all;
}

.join_email_list__p {
  color: var(--simple-color-text);
  display: block;
  font-family: var(--main-font);
  justify-content: flex-start;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.3;
  margin-block-start: 1em;
  /* margin-block-end: 1em; */
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-top: 30px;
  justify-content: flex-start;
  position: relative;
  text-align: center;
}

.main__feeding_over {
  background: var(--border-color-form);
  background-color: var(--background-color-feeding-over);
  font-family: var(--main-font);
  /* margin: auto; */
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  display: block;
  word-wrap: break-word;
}

.feeding_over__central_part {
  padding-top: 100px;
  padding-bottom: 80px;
  position: relative;
  min-width: 320px;
  font-size: 17px;
  line-height: 1.7;
  font-family: var(--main-font);
  font-weight: 400;
  word-wrap: break-word;
  z-index: 1;
  flex-basis: 100%;
  flex-shrink: 0;
  display: block;
  box-sizing: border-box;
}

.centaral_part__main_objects {
  padding: 0 40px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  border: 0;
  color: var(--main-color-text);
  box-sizing: border-box;
}

.main_objects__upper_part {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  word-wrap: break-word;
  color: var(--main-color-text);
}

.upper_part__paragraph_text {
  justify-content: center;
  font-size: 60px;
  color: var(--main-color-text);
  line-height: 1.2;
  font-family: Signika, sans-serif;
  font-weight: 700;
  text-transform: none;
  text-decoration: none;
  font-style: normal;
  letter-spacing: 0;
  position: relative;
  max-width: 100%;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: center;
}

.paragraph_text__feeding_over_text {
  display: block;
  padding-bottom: 30px;
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  color: var(--main-color-text);
  text-transform: none;
  letter-spacing: 0;
  word-wrap: break-word;
  text-align: center;
  box-sizing: border-box;
}

.feeding_over_text_green_part {
  color: var(--accent-color-text);
  text-transform: none;
  letter-spacing: 0;
  word-wrap: break-word;
  text-align: center;
  box-sizing: border-box;
}

.main_objects__down_part {
  margin-top: 60px;
  box-sizing: border-box;
  display: block;
  word-wrap: break-word;
  color: var(--main-color-text);
  box-sizing: border-box;
}

.picture__img_slider {
  width: 312px;
}

.div-carousel_center {
  display: flex;
  align-items: center;
  justify-content: center;
}
