/*Services section*/
/*main properties*/

.services {
    background-color: var(--background-color);
    padding-top: 90px;
    padding-right: 0px;
    padding-bottom: 90px;
    padding-left: 0px;
    justify-content: center;
    background: url("../img/services_section/services_bg.webp");
    min-width: 320px;
}

.services_content {
    background-position: repeat center center;
    background-size: contain;
    background-origin: border-box;
    box-sizing: border-box;
    padding-top: 0px;
    padding-right: 24px;
    padding-bottom: 0px;
    padding-left: 24px;
}

.services_content_cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin: auto;
    max-width: 70%;
}

.services_content_head {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 20px;
    padding-left: 0px;
    align-self: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 15px;
}

.content {
    margin-top: 20px;
}

.cards {
    font-family: var(--main-font);
    color: var(--main-color-text);
    font-size: var(--text-size);
    font-weight: var(--text-weight);
    background-color: white;
    padding: 15px;
    margin: 30px 15px 0px 15px;
    max-width: 570px;
}

article {
    box-sizing: border-box;
    width: calc(100%+30px);
    margin-left: -15px;
    margin-right: -15px;
    display: grid;
}

/*Styles for headlines in servises-section*/

.headline_h2 {
    font-family: var(--title-font);
    color: var(--main-color-text);
    text-align: center;
    font-size: 60px;
    font-weight: 700;
  }

.decor{
    position: absolute;
    width: 60px;
    height: 1px;
    color: var(--main-color-text);
    opacity: .2;
    transform: translateX(0) translateY(-6px);
    right: auto;
    left: calc(50% - 30px);
}

.head_h3 {
    font-family: var(--title-font);
    color: var(--accent-color-text);
    font-size: 24px;
    font-weight: 700;
  }
 


/*Section 'pictures'*/

.pictures {
    background-color: var(--background-color-light);
    box-sizing: border-box;
    min-width: 320px;
}

.carusel_container {
    display: block;
    width: 100%;
}

.carusel_slide {
    display:flex;
    max-height: 590px;
}

.picture_content_delivery {
    background: linear-gradient(rgba(0, 0, 0, 0.49), rgba(0, 0, 0, 0.49)), url("../img/services_section/potato.webp");
    background-position: no-repeat;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;

}

.pictures_content_freshly {
    background: linear-gradient(rgba(0, 0, 0, 0.49), rgba(0, 0, 0, 0.49)), url("../img/services_section/wood.webp");
    background-position: no-repeat;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
}

.pictures_content_delicious {
    background: linear-gradient(rgba(0, 0, 0, 0.49), rgba(0, 0, 0, 0.49)), url("../img/services_section/wine.webp");
    background-position: no-repeat;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
}

.pictures_headline {
    padding: 90px 0px;
}

.picture_headlines_h2 {
    display: block;
    color: #ffffff; 
    text-align: center;
    font-size: 80px;
    font-family: var(--title-font);
    line-height: 1;
}

.btn {
    padding:20px;
    cursor: pointer;
    font-size: 20px;
    border: 2px solid black;
}

@media (max-width: 765px) {
    .services_content_cards {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 768px) {
    .pictures_content_delivery {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}