.specialtiesCarouselSlides {
    display: flex;
    justify-content: space-evenly;
}

.specialtiesBtnPrev {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: none;
    opacity: 0.8;
    transform: scaleX(-1);
    background-color: var(--form-background-color);
    align-self: center;
}

.specialtiesBtnNext {
    width: 24px;
    height: 24px;
    opacity: 0.8;
    border-radius: 50%;
    border: none;
    background-color: var(--form-background-color);
    align-self: center;
}

.press-arrow {
    fill: #fff;
    position: relative;
    display: flex;
    width: 15px;
    margin: auto;
}