    /* food menu */
    
    
    .background {
        background-image: url(../img/mybackground.webp);
    }
    
    .top_of_menu {
        color: black;
        font-size: 48px;
        font-family: var(--title-font);
        text-align: center;
    }

    .swipes_of_food {
        color: black;
        font-family: var(--main-font);
        font-size: 16px;
        font-weight: 100;
        text-align: center;
    }

    .bottom_of_menu {
        color: black;
        font-size: 48px;
        font-family: var(--title-font);
        text-align: center;
    }

    .smaller_img {
        width: 200px;    
        text-align: center;  
        padding: 15px;
    }
  
    .my_card {
        width: 245px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin: auto;
        padding: 4px;

    }