
.image-fon {
    background-image: url(../img/question_form_image.jfif);
    position: relative;
    min-width: 320px;
    padding-top: 90px;
    padding-bottom: 90px;
    
    word-wrap: break-word;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.question_form {
    width: 570px;
    text-align: center;
    background-color: #fff;
    vertical-align: baseline;
    box-sizing: border-box;


}

.input_question_form_item {
 display: flex;
 
}

#question_form-h2 {
    font-size: 43px;
    line-height: 1.3;
    font-family: Signika,sans-serif;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0;
    color: #3a3c43;
    text-transform: none;
    position: relative;
    max-width: 100%;
    word-wrap: break-word;
    
}
#question_form-p {
font-size: 21px;
    line-height: 1.3;
    font-family: Lato,sans-serif;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0;
    color: #3a3c43;
    text-transform: none;
}
.input_question_form {
display: block;
width: 100%;
margin-top: 12px;

appearance: none;
background: none;

box-shadow: none;
text-overflow: ellipsis;
border: 0;
font-family: inherit;
display: block;
}

#input-item {
    padding: 15px 30px;
    font-size: 16px;
    border-radius: 27px;
    color: inherit;
    line-height: 1.38;
    border-color: #44b749;
    background-color: rgba(58, 60, 67, 0.12)
}
#form-button-content {
 
}