.faq {
    color: white;
    background: url(../img/testim-faq_section/faq-bg.webp);
    background-size: cover;
    padding-top: 90px;
    padding-bottom: 90px;
}
.faq__wraper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
}
.faq__title-wraper {
    width: calc(100% + 30px);
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 20px;
}
.faq__title {
    font-family: var(--title-font);
    font-size: 40px;
}
.faq__question {
    font-size: 21px;
    font-family: var(--main-font);
    text-align: left;
}
.faq__answer {
    font-size: 17px;
    font-family: var(--main-font);
    text-align: left;
}