.paragraph__green_text {
    color: #44b749!important;
}
.plate__text, 
.reload__picture, 
.tea__picture, 
.menu__picture {
    height:60px;
}
.text__h2{
    color: #3a3c43;
}
.picture__img{
    height: 434.58px;
    width: 428.5px;
}
.froots_info {
    display: flex;
    padding: 0 32px;
}
.froots_info__text h2 {
    text-align: left;
}
.plate{
    background: #44b749;
}
.reload{
    background: #44b749;
}
.tea{
    background: #44b749;
}
.menu{
    background: #44b749;
}