.down_part__carousel {
  display: flex;
  width: 100%;
  min-height: 185px;
  justify-content: space-between;
  align-items: center;
  min-height: 340px;
}

.container__companies_carousel {
  display: flex;
  min-height: 185px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.companies_carousel__slide-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
}

.companies_carousel__slide-container div img {
  display: block;
  margin: auto;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.slide-container__logo_div {
  width: 297px;
}

.logo_div__img {
  object-fit: contain;
}

.companies-btn-prev {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: none;
  opacity: 0.8;
  transform: scaleX(-1);
  background-color: var(--accent-color-text);
  align-self: center;
}

.companies-btn-next {
  width: 24px;
  height: 24px;
  opacity: 0.8;
  border-radius: 50%;
  border: none;
  background-color: var(--accent-color-text);
  align-self: center;
}

.products_carousel__prev-button {
  align-self: center;
  align-items: center;
  width: 12px;
  height: 12px;
}

.products_carousel__pic {
  fill: #fff;
  position: relative;
  display: flex;
  width: 15px;
  margin: auto;
  align-items: center;
  justify-content: center;
}

@media (min-width: 480px) {
  .slide-container__logo_div {
    width: 186px;
  }
}

@media (min-width: 768px) {
  .slide-container__logo_div {
    width: 146px;
  }
  .companies-btn-prev {
    width: 32px;
    height: 32px;
  }

  .companies-btn-next {
    width: 32px;
    height: 32px;
  }
}

@media (min-width: 992px) {
  .slide-container__logo_div {
    width: 101px;
  }
}

@media (min-width: 1024px) {
  .slide-container__logo_div {
    width: 105px;
  }
}

@media (min-width: 1200px) {
  .slide-container__logo_div {
    width: 130px;
  }
}

@media (min-width: 1440px) {
  .slide-container__logo_div {
    width: 138px;
  }
}
