.map {
  position: relative;
  min-width: 320px;
  padding: 50px 24px 70px 24px;
}

.map-text-style {
  font-size: 40px;
  text-align: center;
  font-family: Signika, sans-serif;
  font-weight: 700;
  color: #3a3c43;
  padding-bottom: 10px;
}

.line-our-coverage {
  color: #3a3c43;
  opacity: 0.4;
  left: 50%;
  width: 60px;
  height: 1px;
  margin: auto;
}

.current-maps {
  position: relative;
  min-width: 320px;
  padding-top: 50px;
}

.map_item {
  min-height: 500px;
  width: 100%;
}

.prev-button-map,
.next-button-map {
  cursor: pointer;
  position: absolute;
  top: 0;
  top: 45%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgb(90, 161, 82);
  font-weight: bold;
  font-size: 60px;
  transition: 0.4s ease;
  border-radius: 0 3px 3px 0;
  text-decoration: none;
}

.prev-button-map {
  border-radius: 0 25px 25px 0;
}

.next-button-map {
  right: 0;
  border-radius: 25px 0 0 25px;
}

.prev-button-map:hover,
.next-button-map:hover {
  background-color: #25d366;
  color: whitesmoke;

}

.map-carousel-clicks {
  text-align: center;
  padding-top: 25px;
}

.map-clicks-item {
  cursor: pointer;
  height: 25px;
  width: 40px;
  margin: 0 10px;
  background-color: #ddd;
  border-radius: 25%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.map-clicks-item:hover {
  background-color: #25d366;
}

.clock-map-menu {
  position: relative;
  min-width: 320px;
  padding: 30px 24px 30px 24px;
  text-align: center;
  
  border-style: double;
  border-radius: 50px;
  border-color:#25d366;
  border-width: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 50px;
  max-width: 700px;
}

.clock-map-text {
  padding-bottom: 30px;
  text-shadow: #3a3c43;
  text-transform: uppercase;
  font-family: Signika, sans-serif;
  font-size: 25px;
  font-weight: bold;
}

.coutdown-clock {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #ecea52;
background-color: #25d366;
border-radius: 50%;
}

@media (min-width: 845px) {
  .map-text-style {
    font-size: 50px;
  }

  .current_location {
    height: 550px;
  }
  .coutdown-clock {
    font-size: 25px;
  }
  .clock-map-text {
    font-size: 30px; 
  }
}

@media (min-width: 992px) {
  .map-text-style {
    font-size: 60px;
  }
  .coutdown-clock {
    font-size: 30px;
  }
  .clock-map-text {
    font-size: 40px; 
  }
}

@media (min-width: 1170px) {
  .map {
    width: 1171px;
    margin-left: auto;
    margin-right: auto;
  }
  .coutdown-clock {
    font-size: 40px;
  }
  .clock-map-text {
    font-size: 45px; 
  }
}