/* Organic */

.organic {
    background: url(../img/organic_block/background-our-priority.jpg) no-repeat center;
    background-size: cover;
}

.organic__container {
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.organic__inner {
    padding: 120px 0;
}

.organic__offer, .organic__services{
    width: 48.718%;
    margin-left: auto;
}

.organic__subtitle {
    color: var(--accent-color-text);
}

.organic__title {
    font-family: var(--title-font);
    font-size: 60px;
    font-weight: 700;
}

/* Organic END*/