.image-fon {
  background-image: url(../img/question_form_image.jfif);
  height: auto;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  min-width: 320px;
  padding: 90px 24px 90px 24px;
  box-shadow: 0 0 0 50000px rgba(0, 0, 0, 0.33) inset;
  
}
#question_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: auto;
  background-color: #fff;
  margin-top: 50px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 50px;
  padding-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;

}
#question_form-h2 {
  text-align: center;
  color: #3a3c43;
  word-wrap: break-word;
  position: relative;
  font-size: 34px;
  line-height: 1.3;
  font-family: Signika, sans-serif;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
}
#question_form-p {
  font-size: 20px;
  font-family: Lato, sans-serif;
  font-weight: 400;
  margin: 20px;
  line-height: 26px;
  text-align: center;
  color: #3a3c43;
  word-wrap: break-word;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.input_question_form_item {
  width: auto;
  height: 312px;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
}

#input-item {
  box-sizing: border-box;
  font-size: 17px;
  border-width: 2px;
  border-radius: 27px;
  align-items: center;
  width: 100%;
  height: 52px;
  margin: 12px;
  margin-left: auto;
  margin-right: auto;
  border-color: transparent;
  border-style: solid;
  color: #3a3c43;
  font-family: Lato, sans-serif;
  word-wrap: break-word;
  background-color: rgba(58, 60, 67, 0.12);
  padding-left: 20px;
}

#form-button-content {
  background-color: #92ce2b;
  border-width: 2px;
  border-radius: 27px;
  align-items: center;
  width:100%;
  height: 52px;
  margin-top: 40px;
  border-color: transparent;
  border-style: solid;
  color: #fff;
  font-family: Signika, sans-serif;
  font-size: 17px;
  word-wrap: break-word;
  box-shadow: 0 0 0 0 transparent;
  transition: 0.3s linear;
}

#input-item:focus,
#input-item:active {
  outline: none;
  border-color: rgb(40, 151, 224);
  border-width: 3px;
}

#form-button-content:hover {
  background-color: #44b749;
}
  @media (min-width: 768px) {
    #question_form-h2 {
    font-size: 38px;
    font-family: Signika, sans-serif;
    }
  .image-fon {
    display: grid;
    grid-template-columns: 25% 45% 25%;
   }
}

@media (min-width: 992px) {
   #question_form-h2 {
    font-size: 43px;
   }
}

@media (min-width: 1280px) {
  #input_question_form {
    width: 450px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
  #question_form {
    width: 570px;
    height: 729px;
    padding-left: 60px;
    padding-right: 60px;
  }
}